.container-login
  %h1 アカウント編集
  = form_for current_user, url: {action: 'profile_update'} do |f|

    .form-group
      = f.label :image
      .image_form
        .image_form__contents
          = f.label :image, class: 'image_label' do
            .prev-contents
              - if current_user.image.present?
                .prev-content
                  = image_tag current_user.image.url, alt: "preview", class: "prev-image"
              - else
                = icon('fas', 'image', class: 'photo-icon')
            = f.file_field :image, class: 'image_form__contents__field hidden_file'
    .form-group
      = f.label :name
      = f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control'
    .form-group
      = f.label :profile
      = f.text_area :profile, autofocus: true, rows: "10", cols: "20", class: "form-control"
    .form-group
      = f.collection_select :prefecture_id, Prefecture.all,:id, :name, include_blank: '〜 活動拠点 〜', class: "form-control"
    .form-group
      = f.select :camera_id, {TakeMemory: 1, GiveMemory: 2}
    .form-group
      = f.submit "更新", class: 'btn btn-primary btn-block'
