
.heading
  = link_to "#{@user.name}", user_path(@user), class: "user_link"
  = "'s memories"

.colections
  - @memories.each do |memory|
    = link_to memory_path(memory) do
      .colection
        = image_tag memory.photo.url, class: "colection-image"
