
.heading
  = link_to "#{@user.name}", user_path(@user), class: "user_link"
  = "'s follow"

- @user.all_following.each do |user|
  .follow_user
    = link_to user_path(user), class: 'follow_user__link' do
      .follow_user__link__name
        = user.name
    - if current_user.id == @user.id
      .follow_user__btn
        - if current_user.following? user
          = link_to "UnFollow", {controller: :users,action: :unfollow,user_id: @user.id}, class: "prf-btn", method: :put
        - else
          = link_to "Follow", {controller: :users, action: :follow, user_id: @user.id}, class: "prf-btn", method: :put
