%h2.heading
  Photographer

- @cameraman.each do |camera|
  = link_to user_path(camera.id), class: "camera_link" do
    .camera_box
      .mini-prf-image-box
        - if camera.image.present?
          = image_tag camera.image.url, class: 'mini-prf-image'
        - else
          = image_tag 'nofoto.jpg', class: 'mini-prf-image'
      %p.camera_name
        = camera.name
= paginate @cameraman
