%h2.heading
  New Post
.new-post
  = form_with(model: @memory, local: true) do |f|
    = f.label :photo, class: 'form__box__image' do
      = icon('fas', 'image', class: 'photo-icon')
      = f.file_field :photo, class: 'hidden'
    = f.submit 'SEND'
