%h2.heading
  New Post
.new_post
  .image_form
    = form_with(model: @memory, local: true) do |f|
      .image_form__contents
        = f.label :photo, class: 'image_label' do
          .prev-contents
            = icon('fas', 'image', class: 'photo-icon')
          = f.file_field :photo, class: 'image_form__contents__field hidden_file'
      = f.submit 'SEND', class: "post_btn"
