%h2.heading
  Photographer

= form_with(url: users_searches_path, local: true, method: :get, class: "search_form") do |f|
  = f.text_field :keyword, placeholder: "Name", class: "search_input"
.camera_boxes
  - @users.each do |user|
    - if current_user.id != user.id
      = link_to user_path(user.id), class: "camera_link" do
        .camera_box
          .mini-prf-image-box
            = image_tag user.image.url, class: 'mini-prf-image'
          %p.camera_name
            = user.name

  - if @outher_users.present?
    その場所を拠点としている人はいませんでした
    - @outher_users.each do |user|
      - if current_user.id != user.id
        = link_to user_path(user.id), class: "camera_link" do
          .camera_box
            .mini-prf-image-box
              = image_tag user.image.url, class: 'mini-prf-image'
            %p.camera_name
              = user.name
  = link_to '活動拠点を選び直す', users_path, class: 'agein_prefecture'
